<%= link_to document.documentable.alternate_link, class: 'flex py-2 items-center gap-4 rounded-md duration-200 group relative z-10' do %>
  <div class="absolute group-hover:bg-white w-full h-full -z-10 group-hover:scale-110 duration-200 rounded-md top-0 left-0"></div>
  <div class="w-6 shrink-0">
    <%= image_tag 'search/google_docs.png' %>
  </div>

  <div class="flex flex-col gap-1 grow">
    <div class="text-sm text-stone-700">
      <%= document.documentable.title %>
    </div>
    <div class="flex items-center gap-2 text-xs text-stone-600">
      <div class="flex gap-1">
        <%= image_tag document.documentable.owners.first.profile_picture_url, class: 'rounded-full size-4' %>
        <div class="text-xs">
          <%= document.documentable.owners.first.display_name %>
        </div>
      </div>
      •
      <div class="flex gap-1">
        Last updated <%= time_ago_in_words(document.documentable.modified_date) %> ago.
      </div>
    </div>

    <div class="text-xs line-clamp-2 text-stone-500"><%= chunks.first.content %></div>
  </div>
<% end %>