<div data-controller="chat" class="flex flex-col justify-between items-stretch border-x min-h-0 grow text-sm">
  <% if @chat.messages.present? %>
    <div class="flex flex-col gap-4 overflow-y-auto py-4 flex-1 items-center" data-chat-target="scrollContainer" data-scroll-to-bottom-target>
      <div class="items max-w-prose w-full flex flex-col gap-4">
        <% @chat.messages.each do |message| %>
          <% if message.role == 'assistant' %>
            <div class="flex gap-4 last:pb-8 w-full">
              <div class="size-6 bg-stone-600 rounded-full shrink-0"></div>
              <div class="flex grow min-w-0">
                <div class="text-sm text-slate-700 flex gap-4 flex-1 min-w-0">
                  <%= turbo_stream_from message %>
                  <div id="<%= dom_id(message) %>" class="message-content flex flex-col gap-2 items-start min-w-0"><%== markdown_to_html(message.content) %></div>
                </div>
              </div>
              <div class="w-6"></div>
            </div>
          <% elsif message.role == 'user' %>
            <div class="flex gap-4 last:pb-8">
              <div class="w-6"></div>
              <div class="flex justify-end grow">
                <div class="text-sm text-slate-700 flex gap-4 text-right">
                  <%= turbo_stream_from message %>
                  <div id="<%= dom_id(message) %>" class="message-content min-h-4 p-2 rounded-md bg-stone-200 flex flex-col gap-2 items-end"><%== markdown_to_html(message.content) %></div>
                </div>
              </div>
              <div class="size-6 bg-stone-600 rounded-full mt-1.5 shrink-0"></div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>

  <% if @chat.messages.empty? %>
    <div class="flex py-1 w-full border-b justify-end px-2">
      <%= collection_select(
            :model,
            :canonical_name,
            LLM.all!.select(&:generation_allowed?).select { |llm| llm.provider.canonical_name == :openai },
            :canonical_name,
            :display_name,
            { selected: 'gpt-4o-mini' },
            { class: 'border-1 border-stone-200 rounded-md px-2 py-1 text-sm' }

          )
      %>
    </div>
    <div class="flex items-center grow justify-center text-stone-600">
      <div class="flex-col flex gap-4">
        <div class="font-serif text-lg">
          Start a new chat.
        </div>

        <div class="flex gap-4 text-sm">
          <div class="border-2 rounded w-36 p-4">
            Draft a birthday message.
          </div>
          <div class="border-2 rounded w-36 p-4">
            Draft a birthday message.
          </div>
          <div class="border-2 rounded w-36 p-4">
            Draft a birthday message.
          </div>
        </div>
      </div>
    </div>

  <% end %>

  <div class="flex justify-center mt-4">
    <%= form_with model: @chat,
                  class: 'flex items-center min-h-0 shrink-0 py-1 bg-white rounded-md pl-3 pr-1 mb-4 max-w-4xl w-full border border-stone-200',
                  data: { action: 'keypress.enter->chat#submit'} do |form| %>
      <%= form.text_area :content,
                         class: 'w-full border-0 focus:ring-0 border-gray-300 p-0 resize-none rounded-md text-sm',
                         placeholder: 'Type your message here',
                         autofocus: true
      %>

      <%= form.button class: 'uppercase rounded bg-stone-100 flex items-center justify-center p-4' do %>
        <%= heroicon 'arrow-right-circle', variant: :outline, options: { class: 'size-6 text-stone-600'} %>
      <% end %>
    <% end %>
  </div>
</div>
