<%= turbo_frame_tag :chat,
  data: {
    controller: 'chat dropzone',
    'dropzone-max-file-size': 1,
    'dropzone-accepted-files': 'text/markdown,text/plain',
    'dropzone-preview-template': '#dropzone-chat-preview-template'
  },
  class: 'flex flex-col justify-between items-stretch border-x min-h-0 grow text-sm' do %>
  <% if @chat.messages.present? %>
    <div class="text-stone-600 flex py-2 w-full border-b justify-between px-2">
      <div class="">
        Only visible to me
      </div>
      <div class="flex items-center gap-1 text-xs">
        <%= image_tag LLM.from_string!(@chat.model)&.image_path, class: 'w-4' %>
        <%= LLM.from_string!(@chat.model).display_name %>
      </div>
    </div>
    <div class="flex flex-col gap-4 overflow-y-auto py-4 flex-1 items-center" data-chat-target="scrollContainer" data-scroll-to-bottom-target>
      <div class="items max-w-prose w-full flex flex-col gap-4">
        <% @chat.messages.each do |message| %>
          <% if message.role == 'assistant' %>
            <div class="flex gap-4 last:pb-8 w-full">
              <div class="size-6 bg-stone-600 rounded-full shrink-0"></div>
              <div class="flex grow min-w-0">
                <div class="text-sm text-slate-700 flex gap-4 flex-1 min-w-0 leading-normal">
                  <%= turbo_stream_from message %>
                  <div id="<%= dom_id(message) %>" class="peer message-content flex flex-col gap-2 items-start min-w-0"><%== markdown_to_html(message.content) %></div>
                  <%= image_tag 'loading.gif', class: 'size-4 peer-empty:block hidden mt-1 -ml-4' %>

                </div>
              </div>
              <div class="w-6"></div>
            </div>
          <% elsif message.role == 'user' %>
            <div class="flex gap-4 last:pb-8">
              <div class="w-6"></div>
              <div class="flex justify-end flex-1">
                <div class="text-sm text-slate-700 flex gap-4">
                  <%= turbo_stream_from message %>
                  <div id="<%= dom_id(message) %>" class="leading-relaxed message-content min-h-4 px-2 py-1 rounded-md bg-stone-200 flex flex-col gap-1">
                    <%== markdown_to_html(message.content) %>
                    <% if message.documents.present? %>
                      <div class="flex gap-2">
                        <% message.documents.each do |document| %>
                          <div class="border p-1 bg-stone-300 rounded flex items-center text-xs gap-1">
                            <%= heroicon 'document', variant: :outline, options: { class: 'size-4'} %>
                            <%= link_to document.attachment.filename, rails_blob_path(document.attachment, disposition: 'attachment') %>
                          </div>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="size-6 items-center h-full flex shrink-0 overflow-hidden"><%= image_tag current_user.profile_picture_url, class: 'rounded-full overflow-hidden', referrerpolicy: 'no-referrer' %></div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  <% end %>

  <% if @chat.messages.empty? %>
    <div class="flex py-1 w-full border-b justify-end px-2">
      <%= grouped_collection_select(
            :chat,
            :model,
            [:openai, :anthropic].map { |p| LLM::Provider.from_string(p) },
            :models,
            :display_name,
            :canonical_name,
            :display_name,
            { selected: 'gpt-4o-mini' },
            { class: 'border-1 border-stone-200 rounded-md px-2 py-1 text-sm', form: 'chat-form' }
          ) %>
    </div>
    <div class="flex items-center grow justify-center text-stone-600">
      <div class="flex-col flex gap-4">
        <div class="font-serif text-lg">
          Start a new chat.
        </div>

        <div class="flex gap-4 text-sm">
          <%= button_to chats_path(params: { chat: { content: 'Help me draft a fun birthday message.' }}), class: 'border-2 rounded w-36 p-4 flex gap-2 flex-col text-left hover:border-slate-500 duration-200' do %>
            <%= heroicon 'cake', variant: :outline, options: { class: 'size-6 flex-1'} %>
            Draft a birthday message.
          <% end %>
          <%= button_to chats_path(params: { chat: { content: 'Help me plan a trip to Paris.' }}), class: 'border-2 rounded w-36 p-4 flex gap-2 flex-col text-left hover:border-slate-500 duration-200' do %>
            <%= heroicon 'globe-europe-africa', variant: :outline, options: { class: 'size-6 flex-1'} %>
            Plan a trip to Paris.
          <% end %>
          <%= button_to chats_path(params: { chat: { content: 'Help me debug some Javascript.' }}), class: 'border-2 rounded w-36 p-4 flex gap-2 flex-col text-left hover:border-slate-500 duration-200' do %>
            <%= heroicon 'code-bracket-square', variant: :outline, options: { class: 'size-6 flex-1'} %>
            Debug some Javascript.
          <% end %>
        </div>
      </div>
    </div>

  <% end %>

  <div class="flex justify-center mt-4">
    <%= render Message::FormComponent.new(chat: @chat) %>
  </div>
<% end %>
