<!DOCTYPE html>
<html>
  <head>
    <title>Chatting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="h-screen flex flex-col bg-stone-100"
          data-controller="application"
    >
      <div class="flex justify-between pl-6 pr-2 py-2 border-b items-center h-12">
        <div class="font-serif">
          Context AI Chat
        </div>

        <div class="right text-xs flex items-center gap-4">
          <%= link_to chats_path, class: 'text-stone-600 border rounded py-1 px-2 hover:border-b-2 border-stone-300',
              data: { action: 'keydown.meta+k@window->application#navigate', 'application-location-param': chats_path } do %>
            + New Chat <span class="bg-stone-200 p-0.5 rounded">⌘K</span>
          <% end %>

          <div class="size-6">
            <%= profile_picture_tag %>
          </div>
        </div>
      </div>
      <div class="flex-1 flex flex-col min-h-0"><%= yield %></div>
    </main>
  </body>
</html>
