<!DOCTYPE html>
<html>
  <head>
    <title>Chatting</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <main class="h-screen flex flex-col bg-stone-100"
          data-controller="application">
      <div class="flex-1 flex flex-col min-h-0"><%= content_for?(:content) ? content_for(:content) : yield %></div>
    </main>
  </body>
</html>
